apiVersion: apps/v1
kind: Deployment
metadata:
  name: toolbox-container
spec:
  replicas: 1
  selector:
    matchLabels:
      app: toolbox-container
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: toolbox-container
    spec:
      containers:
      - image: toolbox-container
        imagePullPolicy: Always
        name: toolbox-container
        volumeMounts:
        - name: init
          mountPath: /toolbox/init.sh
          subPath: init.sh
        - name: run
          mountPath: /toolbox/run.sh
          subPath: run.sh
      serviceAccountName: toolbox-container
      volumes:
      - name: init
        configMap:
          name: toolbox-container-init
          optional: true
      - name: run
        configMap:
          name: toolbox-container-run
          optional: true
