apiVersion: apps/v1
kind: Deployment
metadata:
  name: toolbox-container
spec:
  replicas: 1
  selector:
    matchLabels:
      app: toolbox-container
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: toolbox-container
    spec:
      containers:
      - image: toolbox-container
        imagePullPolicy: Always
        name: toolbox-container
        volumeMounts:
        - name: scripts
          mountPath: /toolbox
      serviceAccountName: toolbox-container
      volumes:
      - name: scripts
        configMap:
          name: toolbox-container-scripts
